Repository codestates/BTAFinalProject-05, pull requests merged in 2022-11, with the labels that each got.

#2 explorer 관련 파일 추가
  explorer/README.md
  explorer/db_elastic/README.md
  explorer/db_elastic/docker-compose.yml
  explorer/frontend/.eslintrc.json
  explorer/frontend/.gitignore
  explorer/frontend/README.md
  explorer/frontend/components/BlockList.js
  explorer/frontend/components/Header.js
  explorer/frontend/components/Search.js
  explorer/frontend/next.config.js
  explorer/frontend/package-lock.json
  explorer/frontend/package.json
  explorer/frontend/pages/_app.js
  explorer/frontend/pages/api/hello.js
  explorer/frontend/pages/index.js
  explorer/frontend/public/favicon.ico
  explorer/frontend/public/vercel.svg
  explorer/frontend/styles/Home.module.css
  explorer/frontend/styles/globals.css
  explorer/frontend/yarn.lock
Labels: 🔭 explorer, ⚙️setting

#4 `CODEOWNERS`, pr template 추가
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/issue-task-card.md
  .github/pull_request_template.md
Labels: 📜docs, ⚙️setting

#13 wallet api proxy 추가 및 api call test
  .gitignore
  wallet/README.md
  wallet/client/package-lock.json
  wallet/client/package.json
  wallet/client/src/Routes.tsx
  wallet/client/src/constants/endpoints.ts
  wallet/client/src/constants/index.ts
  wallet/client/src/pages/Test.tsx
  wallet/client/src/pages/index.ts
  wallet/proxy/index.js
  wallet/proxy/package.json
  wallet/proxy/yarn.lock
Labels: 🔥 feature, 💴 wallet, 🧑🏻‍🔬experiment

#17 Wallet API 일부 연동
  wallet/client/.env.example
  wallet/client/package-lock.json
  wallet/client/package.json
  wallet/client/public/mockServiceWorker.js
  wallet/client/src/App.tsx
  wallet/client/src/api/browser.js
  wallet/client/src/api/handlers.js
  wallet/client/src/components/CopiableAddress/CopiableAddress.tsx
  wallet/client/src/constants/endpoints.ts
  wallet/client/src/constants/strings.ts
  wallet/client/src/hooks/index.ts
  wallet/client/src/hooks/useAddresses.ts
  wallet/client/src/hooks/useBalances.ts
  wallet/client/src/hooks/useEnv.ts
  wallet/client/src/hooks/useProxyCheck.ts
  wallet/client/src/hooks/useWalletStatus.ts
  wallet/client/src/hooks/useWalletUnlock.ts
  wallet/client/src/index.tsx
  wallet/client/src/pages/Send.tsx
  wallet/client/src/pages/SendConfirm.tsx
  wallet/client/src/pages/SendInput.tsx
  wallet/client/src/pages/Start.tsx
  wallet/client/src/pages/Test.tsx
  wallet/client/src/pages/Wallet.tsx
  wallet/client/src/pages/WelcomeBack.tsx
  wallet/client/src/states/atoms.ts
  wallet/client/src/states/index.ts
  wallet/client/src/types/api.d.ts
  wallet/client/src/types/models.d.ts
  wallet/proxy/index.js
Labels: 🔥 feature, 💴 wallet

#20 지갑 api 연동 #2
  wallet/client/src/hooks/useAddresses.ts
  wallet/client/src/pages/BringWallet.tsx
  wallet/client/src/pages/CreateWallet.tsx
  wallet/client/src/pages/SeedCheck.tsx
  wallet/client/src/pages/SeedReveal.tsx
  wallet/client/src/pages/Wallet.tsx
  wallet/client/src/states/atoms.ts
Labels: 💴 wallet

#22 Wallet 송금 transaction API 연동
  wallet/README.md
  wallet/client/package.json
  wallet/client/src/App.tsx
  wallet/client/src/components/CoinCard/CoinCard.tsx
  wallet/client/src/components/FakeTab/FakeTabItem.tsx
  wallet/client/src/components/InputDialog/InputDialog.tsx
  wallet/client/src/components/InputDialog/index.ts
  wallet/client/src/components/index.ts
  wallet/client/src/constants/endpoints.ts
  wallet/client/src/constants/strings.ts
  wallet/client/src/hooks/index.ts
  wallet/client/src/hooks/useBalance.ts
  wallet/client/src/hooks/useEnv.ts
  wallet/client/src/hooks/useProxyCheck.ts
  wallet/client/src/hooks/useTransfer.ts
  wallet/client/src/hooks/useWalletUnlock.ts
  wallet/client/src/index.tsx
  wallet/client/src/layouts/WalletLayout.tsx
  wallet/client/src/pages/AllSet.tsx
  wallet/client/src/pages/BringWallet.tsx
  wallet/client/src/pages/CreateWallet.tsx
  wallet/client/src/pages/Send.tsx
  wallet/client/src/pages/SendConfirm.tsx
  wallet/client/src/pages/SendInput.tsx
  wallet/client/src/pages/Start.tsx
  wallet/client/src/pages/Wallet.tsx
  wallet/client/src/pages/WelcomeBack.tsx
  wallet/client/src/states/atoms.ts
  wallet/client/src/states/index.ts
  wallet/client/src/types/api.d.ts
Labels: 🔥 feature, 💴 wallet

#24 wallet API 연동 마무리
  wallet/client/package-lock.json
  wallet/client/package.json
  wallet/client/src/App.tsx
  wallet/client/src/api/handlers.js
  wallet/client/src/components/ButtonPair/ButtonPair.tsx
  wallet/client/src/components/InputDialog/InputDialog.tsx
  wallet/client/src/components/InputDialog/index.ts
  wallet/client/src/constants/endpoints.ts
  wallet/client/src/constants/index.ts
  wallet/client/src/constants/objects.ts
  wallet/client/src/containers/Initializer.tsx
  wallet/client/src/containers/index.ts
  wallet/client/src/hooks/useAddresses.ts
  wallet/client/src/hooks/useBalances.ts
  wallet/client/src/hooks/useCreateWallet.ts
  wallet/client/src/hooks/useRestoreWallet.ts
  wallet/client/src/hooks/useTransfer.ts
  wallet/client/src/hooks/useWalletStatus.ts
  wallet/client/src/hooks/useWalletUnlock.ts
  wallet/client/src/pages/BringWallet.tsx
  wallet/client/src/pages/Send.tsx
  wallet/client/src/pages/SendConfirm.tsx
  wallet/client/src/pages/SendInput.tsx
  wallet/client/src/pages/Test.tsx
  wallet/client/src/pages/Wallet.tsx
Labels: 🔥 feature, 💴 wallet

#25 wallet server 제거, readme 수정
  wallet/README.md
  wallet/client/src/components/CoinCard/CoinCard.tsx
  wallet/client/src/pages/SendConfirm.tsx
  wallet/client/src/pages/WelcomeBack.tsx
  wallet/server/docs/path.yaml
  wallet/server/docs/swagger.yaml
  wallet/server/docs/wallet/wallet.balance.yaml
  wallet/server/docs/wallet/wallet.create.yaml
  wallet/server/docs/wallet/wallet.login.yaml
  wallet/server/docs/wallet/wallet.mnemonic.yaml
  wallet/server/docs/wallet/wallet.mymnemonic.yaml
  wallet/server/docs/wallet/wallet.privatekey.yaml
  wallet/server/docs/wallet/wallet.transfer.yaml
  wallet/server/package-lock.json
  wallet/server/package.json
  wallet/server/src/app.ts
  wallet/server/src/config/express.ts
  wallet/server/src/constant/errors.ts
  wallet/server/src/constant/index.ts
  wallet/server/src/controller/baseController.ts
  wallet/server/src/controller/index.ts
  wallet/server/src/controller/walletController.ts
  wallet/server/src/interface/IController.ts
  wallet/server/src/interface/IMiddleware.ts
  wallet/server/src/interface/IWallet.ts
  wallet/server/src/middleware/apiErrorHandler.ts
  wallet/server/src/route/api.ts
  wallet/server/src/route/index.ts
  wallet/server/src/service/walletService.ts
  wallet/server/src/utility/BlockchainUtil.ts
  wallet/server/src/utility/apiError.ts
  wallet/server/src/utility/apiResponse.ts
  wallet/server/src/utility/util.ts
Labels: 💴 wallet, 📜docs, 🧹cleanup

#26 트랜잭션 내역 보기 추가, 테스트 페이지 제거, useQuery bug 수정
  wallet/client/package-lock.json
  wallet/client/package.json
  wallet/client/src/Routes.tsx
  wallet/client/src/components/CopiableAddress/CopiableAddress.tsx
  wallet/client/src/components/FakeTab/FakeTab.tsx
  wallet/client/src/components/TxTable/TxTable.tsx
  wallet/client/src/components/TxTable/index.ts
  wallet/client/src/components/index.ts
  wallet/client/src/hooks/useAddresses.ts
  wallet/client/src/hooks/useBalances.ts
  wallet/client/src/hooks/useCreateWallet.ts
  wallet/client/src/hooks/useRestoreWallet.ts
  wallet/client/src/hooks/useTransfer.ts
  wallet/client/src/hooks/useWalletUnlock.ts
  wallet/client/src/pages/Receipts.tsx
  wallet/client/src/pages/SendConfirm.tsx
  wallet/client/src/pages/Test.tsx
  wallet/client/src/pages/index.ts
Labels: 🔥 feature, 💴 wallet, 🐞 bug, 🧹cleanup

#27 frontend - elasticsearch 연결
  .gitignore
  explorer/.DS_Store
  explorer/frontend/.env.local
  explorer/frontend/.gitignore
  explorer/frontend/components/BlockDetail.js
  explorer/frontend/components/TransactionDetail.js
  explorer/frontend/pages/api/blocks.js
  explorer/frontend/pages/blocks/[id].js
  explorer/frontend/pages/blocks/index.js
  explorer/frontend/pages/blocks/search.js
  explorer/frontend/pages/index.js
Labels: 🔥 feature, 🔭 explorer, 🧑🏻‍🔬experiment

#33 transfer에 fee 설정 추가
  wallet/client/src/components/TxTable/TxTable.tsx
  wallet/client/src/hooks/useTransfer.ts
  wallet/client/src/layouts/WalletLayout.tsx
  wallet/client/src/pages/Receipts.tsx
  wallet/client/src/pages/Send.tsx
  wallet/client/src/pages/SendConfirm.tsx
  wallet/client/src/pages/SendInput.tsx
  wallet/client/src/pages/Wallet.tsx
Labels: 💴 wallet, 🎨UI, 🧹cleanup

#35 endpoint 변경
  wallet/client/.env
  wallet/client/src/constants/endpoints.ts
Labels: 💴 wallet, ⚙️setting
